<span>{{title}} app is running!</span>
<h1 [class]="getClasses()">This is H1</h1>
<h1 [style.background-color]="isRed ? 'green' : 'red'">This is also H1</h1>
<img [src]="india" alt="">
<button (click)="myEvent()">My button</button>
<input [(ngModel)] = 'name' >
<!-- <input [value] = 'name' (keyup)="myEvent($event)"> -->
{{name | uppercase}}
{{'04/02/2022'|date:'fullDate'}}
<div *ngIf="isRed">This is ngIf condition</div>
<div *ngFor="let nummm of numbers"> {{nummm}}</div>
<tr *ngFor="let student of students; trackBy:rollNum" >
{{title}}
<!-- <input type="text" name="title" value="title" (keyup)="updateTitle($event)"> -->
<input type="text" name="title" [(ngModel)]="title">
<!-- <div (mouseover)= "myMouseOver()"></div> -->
<img src = '{{india + countryFlag}}' alt="">
<input type="radio" name="country"  value = "us" (change)='myMouseOver($event)'>US
<input type="radio" name="country"  value = "india" (change)='myMouseOver($event)'>INDIA
<img src = '{{flag}}' alt="">