<nav class ="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a [routerLink]="['/student-create']">CreateStudent</a></li>
            <li><a [routerLink]="['/student-get']">GetStudetn</a></li>
            <li><a [routerLink]="['/student-search']">SearchStudetn</a></li>
            <li><a [routerLink]="['/student-details']">StudentDeatails</a></li>            
        </ul>
    </div>
</nav>