<nav class ="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" [routerLink]= "['/']">Home</a></li>
            <li><a [routerLink]="['/student-create']">CreateStudent</a></li>
            <li><a [routerLink]="['/student-get']">GetStudent</a></li>
            <li><a [routerLink]="['/student-search']">SearchStudent</a></li>
            <li><a [routerLink]="['/student-details']">StudentDeatails</a></li> 
            <li><a [routerLink]="['/employee-count']">emp-count</a></li>           
        </ul>
    </div>
</nav>
